body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: #444;
    margin: 0;
    font-size: 1em;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: 0.3s;
}
.header{
    display: flex;
    background-color: #eee;
    align-items: center;
    padding: 0.5em;
    font-family: inherit;
}  
.nav{
    padding-left: 20em;
}
.nav__list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav__item{
    margin: 0 1.5em;
    color: #444;    
    font-weight: bold;
    transition: 0.5s;
    border-radius: 0.3em;
}
.nav__item:hover{
    background-color: #444;
    color: #eee;
    padding: 0.1em 0.8em 0.2em 0.8em;
    transition: 0.5s;
    margin: 1em 0.2em;
}
.contenedor{
    display: flex;
    justify-content: space-around;
    margin:5em;
}
#img1{
    border-radius: 1.5em;
    width: 35vw;

}
.text__p{
    background-color: #eee;
    border-radius: 1em;
    font-weight: 600;
    display: inline;
    padding: 0.6em;
}
.text__h1{
    font-size: 5em;
    font-weight: bold;
}
.text__h2{
    font-size: 5em;
    background-color: yellow;
    padding: 0em 0.3em 0.1em 0.3em;
    border-radius: 1em;
    margin-top: -0.6em;
}
.text__h4{
    color: #5f5e5e;
    font-size: 1.55em;
    width: 28vw;
    font-family: inherit;
    font-weight: 500;
}